
<div class ="search">
  <%= form_tag(recruiters_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search by Name") %>
  <% end %>
  <p><%= link_to "Advanced Search", advanced_search_recruiters_path %></p>
</div>